<!DOCTYPE html>
<html>
<head>
	<title>Passport</title>
</head>
<body>
  <form action="" method="post">
  		<input type="text" name="username" placeholder="seu usario">
  		<input type="password" name="password" placeholder="sua senha">
  		<button type="submit">Enviar</button>
  </form>
</body>
</html>